input {
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
}

.input {
    position: relative;
    left: -20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 155, 155);
    color: rgb(37, 37, 37);
}

#a {
    width: 500px;
    height: 300px;
    margin: 0;
    box-shadow: 5px 10px 18px #bc6d6d;
    border: 2px solid white;
    background-color: rgb(245, 173, 173);


}

.content {
    margin: 0;
    border-radius: 5px;

}

h1 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

button {
    font-weight: 700;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #bc6d6d;
    cursor: pointer;
}