body {
    background-color: lightcoral;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgb(251, 176, 176);
}

.topnav {
    background-color: rgb(244, 224, 224);
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.topnav a {
    float: left;
    color: rgb(212, 140, 140);
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
}

.header {
    padding: 300px;
    text-align: center;
    background: rgb(246, 166, 166);
    color: white;
    font-size: 25px;
}


a:hover {
    font-size: xx-large;
    
}

#login {
    padding-left: 100px;
}

.blog {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.blog h1 {
    color: aliceblue;
}

#cn {
    padding-left: 1000px;
}

div i {
    color: rgb(237, 125, 125);

}
#iTag:hover {
    font-size: xx-large;
}

#iTag {
    font-size: 30px;
    padding-right: 10px;
}

/* .header h1{
    position: relative;
}

.header h1:hover:after {
    transform-origin: bottom left;
    transform: scale(1);
} */
